<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
    </configSections>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <!-- Spring.Net 配置节点 -->
    <spring>
        <context>
            <!-- 容器配置 -->
            <resource uri="config://spring/objects" />
            <!--xml文件方式，更改属性，复制到输出目录：始终复制-->
            <!--<resource uri="file://objects.xml"/>-->
            <!--嵌入程序集方式，assembly://程序集名/项目名/objects.xml，更改属性，始终复制，生成操作，嵌入的资源-->
            <!--<resource uri="assembly://Spring.Net/Spring.Net/objects.xml"/>-->
        </context>
        <objects xmlns="http://www.springframework.net">
            <description>An example that demonstrated simple Ioc features.</description>
            <object name="UserInfoDal" type="SpringDemo.EFUserInfoDal, SpringDemo">
                <property name="Name" value="张三" />
                <property name="UserInfo" ref="UserInfo" />
            </object>
            
            <!-- 构造函数注入 -->
            <object name="UserInfoDal2" type="SpringDemo.AdoNetUserInfoDal, SpringDemo">
                <constructor-arg index="0" value="张三" />
                <constructor-arg index="1" ref="UserInfo" />
            </object>
            
            <!-- 属性注入 -->
            <object name="UserInfo" type="SpringDemo.UserInfo, SpringDemo">
                <property name="Name" value="李四" />
                <property name="Age" value="15" />
            </object>
        </objects>
    </spring>
</configuration>