<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- Optional -->
    <properties>
        <!--<property resource="properties.config" />-->
        <property key="root" value="IBatisDemo" />
    </properties>

    <settings>
        <setting useStatementNamespaces="false" />
        <setting cacheModelsEnabled="true" />
        <setting validateSqlMap="true" />
    </settings>

    <!-- Not required if providers.config is located in default location -->
    <providers embedded="${root}.providers.config, IBatisDemo" />

    <database>
        <provider name="sqlServer4.0" />
        <!--<dataSource name=""
                    connectionString="user id=${username};
                    password=${password};
                    data source=${datasource};
                    database=${database};" />-->
        <dataSource name="JMS" connectionString="Data Source=.;Initial Catalog=JMS;User ID=sa;Password=sa;" />
    </database>

    <!--<alias>
        <typeAlias alias="Account" type="IBatisDemo.Domain.Account, IBatisDemo" />
        <typeAlias alias="YesNoBool"
                   type="IBatisDemo.Domain.YesNoBoolTypeHandlerCallback, IBatisDemo" />
    </alias>-->

    <!--<typeHandlers>
        <typeHandler type="bool" dbType="Varchar" callback="YesNoBool" />
        <typeHandler type="guid" dbType="Varchar2" callback="GuidVarchar" />
    </typeHandlers>-->

    <sqlMaps>
        <!--<sqlMap resource="${root}/Maps/SY_Staff.xml" />-->
        <sqlMap embedded="Maps.SY_Staff.xml, IBatisDemo" />
        <!--<sqlMap resource="D:/github/demo.net/IBatis/IBatisDemo/Maps/Account.xml" />-->
    </sqlMaps>
</sqlMapConfig>